<!DOCTYPE html>
<html lang="en"> 
	<head>   
		<title>{{title}}</title>		
		<link rel="icon" class="icon" alt="Icon used for website" href="../Images/icon.png"> 
		
		<meta charset="utf-8"/> 
		<meta name="description" content="Portfolio website to showcase projects">
		<meta name="author" content="Josh Haywood"> 
		<meta name="google-site-verification" content="HdPWnU6uSFkgMmVnx4WWIkD2MX04xKkXY0lXaeSlMHk"/>
		<link rel="canonical" href="https://www.joshhaywood-portfolio.com/"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> 
		<link rel='stylesheet' href='/stylesheets/style.css'/> 
		<script type="text/javascript" src="/javascripts/script.js"></script> 
	</head>

	<body>
		<!-- Navbar -->
		<header class="navbar">
			<a href="/"><img alt="logo" src="../Images/logo.jpg"></a> 

			<a class="hamburger" onclick="ToggleNavLinks()" > 
				<span class="bar"></span> 
				<span class="bar"></span> 
				<span class="bar"></span> 
			</a>

			<div class="links"> 
				<ul>
					<li>
						<a href="/">Home</a> 
					</li>
					<li> 
						<a href="/projects">Projects</a> 
					</li>
					<li> 
						<a href="/contact">Contact</a> 
					</li>
				</ul>
			</div>
		</header>

		{{{body}}} 
		
		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div> 
					<h4>Pages</h4>

					<a href="/">Home</a>
					<a href="/projects">Projects</a>
					<a href="/contact">Contact</a>
				</div>

				<div> 
					<h4>Projects</h4>

					<a href="/portfolio-project">Portfolio</a>
					<a href="/arduino-project">Arduino</a>
					<a href="/student-survival-store-project">Student Survival Store</a>
				</div>

				<div> 
					<a href="/one-messaging-project">One Messaging</a>
					<a href="/esports-center-project">Esports Center</a>
					<a href="/game-review-project">Game Review</a>
				</div>
			</div>

			<div class="footnote">
				<p>&copy Josh Haywood 2022</p>

				<button onclick="ScrollTop()">Back to top &#8593</button>
			</div>
		</footer>
	</body>
</html>