<div class="contact-page"> 
        <h1>Contact</h1>

        <div class="container">
            <form action="https://formsubmit.co/joshhaywood025@gmail.com" method="POST"> <!-- Uses formsubmit.co for processing all credit goes to owner and reference can be found in documentation branch -->
                <input type="name" size="100%" name="name" placeholder="Enter your name:" required>
                <input type="email" name="email" placeholder="Enter your email:" required>
                <textarea type="text" name="text" placeholder="Enter your message:" required></textarea>
                <input type="hidden" name="_next" value="https://www.joshhaywood.co.uk/message-sent">
                <button type="submit">Submit</button>
            </form>
        </div> 
</div>