<section class="contact-page"> <!-- Contact page -->

<!-- Image from Wikipedia commons all rights go to author -->
<a title="Nilfanion, created using Ordnance Survey data, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:South_West_England_districts_2011_map.svg">
    <img class="map" alt="South West England districts 2011 map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/South_West_England_districts_2011_map.svg/1024px-South_West_England_districts_2011_map.svg.png">
</a>
    
    <div class="contact-page-content"> <!-- Content section of contact page -->
        <h1>Contact</h1>

        <div class="contact-form"> <!-- Form used in contact section reused from index page -->
            <!-- Uses formsubmit.co for processing all credit goes to owner and reference can be found in documentation -->
            <form action="https://formsubmit.co/joshhaywood025@gmail.com" method="POST">
                <input type="name" size="100%" name="name" placeholder="Enter your name:" required>
                <input type="email" name="email" placeholder="Enter your email:" required>
                <textarea type="text" name="text" placeholder="Enter your message:" required></textarea>
                <input type="hidden" name="_next" value="http://localhost:3000/message-sent">
                <button type="submit">Submit</button>
            </form>
        </div> 

    </div>

</section>