<section class="hero"> <!-- Hero section -->
    <div class="hero-content"> <!-- Content section of hero -->
        <div class="hero-text"> <!-- Text section of hero -->
            <h1>Hey, I'm Josh</h1>
            <p>A Web Development student at Falmouth University. <br> Im an aspiring Web Developer and here's where I showcase my work.</p>
        </div>

        <div class="hero-image"> <!-- Non background image used in hero -->
            <img src="images/stock.png">
        </div>
    </div>
</section>

<p>Lorem Ipsum</p>