<!DOCTYPE html>
<html lang="en">
	<head>   
		<!-- #region Preamble-->

		<title>{{title}}</title>		

		<meta charset="utf-8"/>
		<meta name="description" content="Portfolio website to showcase proejcts">
		<meta name="author" content="Josh Haywood">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel='stylesheet' href='/stylesheets/style.css'/>

		<!-- #endregion -->
	</head>

	<body>
    <header>
    	<!-- #region Header -->

		

		<!-- Navbar -->
    	<nav class="navbar"> 
			<ul class="navbar-nav"> <!-- Navigation section of bar -->
				<li class="nav-item"> <!-- Each item in the bar -->
					<img class="logo" src="images/logo-stock.png">
				</li>
				<li class="nav-item"> <!-- Each item in the bar -->
					<a class="nav-link" href="#">Home</a> <!-- Link to home page -->
				</li>
				<li class="nav-item"> <!-- Each item in the bar -->
					<a class="nav-link" href="#">Projects</a> <!-- Link to projects page -->
				</li>
				<li class="nav-item"> <!-- Each item in the bar -->
					<a class="nav-link" href="#">Contact</a> <!-- Link to contact page -->
				</li>
			</ul>
		</nav>

    	<!-- #endregion -->
    </header>
    
	<!-- #region Body -->
	<div>
		{{{body}}} 
	</div>
    

	<!-- #endregion -->

	</body>
</html>


