<!DOCTYPE html>
<html lang="en"> <!-- Language English -->
	<head>   
		<!-- #region Preamble-->

		<title>{{title}}</title>		
		<link rel="icon" style="height: 300px" class="icon" alt="Icon used for website" href="../Images/icon.png"> <!-- Site icon -->
		
		<meta charset="utf-8"/> 
		<meta name="description" content="Portfolio website to showcase projects">
		<meta name="author" content="Josh Haywood"> 
		<meta name="google-site-verification" content="HdPWnU6uSFkgMmVnx4WWIkD2MX04xKkXY0lXaeSlMHk"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> 
		<link rel='stylesheet' href='/stylesheets/style.css'/> 
		<script type="text/javascript" src="/javascripts/script.js"></script> 

		<!-- #endregion -->

	</head>

	<body>
		<!-- #region Header -->

		<header>
			<!-- Navbar -->
			<nav class="navbar"> 
				<a href="/"><img class="logo" alt="logo" src="../Images/logo.png"></a> <!-- Logo image -->

				<!-- Navbar hamburger menu -->
				<a class="nav-toggle" onclick="ToggleNavLinks()" > <!-- Calls ToggleNavLinks function on click -->
					<span class="bar"></span> <!-- First line used in menu -->
					<span class="bar"></span> <!-- Second line used in menu -->
					<span class="bar"></span> <!-- Third line used in menu -->
				</a>

				<!-- Links used in the navbar -->
				<div class="nav-links"> <!-- ID set navLinks for ToggleNavLinks function -->
					<ul>
						<li> <!-- Each item in the bar -->
							<a href="/">Home</a> <!-- Link to home page -->
						</li>
						<li> <!-- Each item in the bar -->
							<a href="/projects">Projects</a> <!-- Link to projects page -->
						</li>
						<li> <!-- Each item in the bar -->
							<a href="/contact">Contact</a> <!-- Link to contact page -->
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<!-- #endregion -->
		
		<!-- #region Body -->

		<div>
			{{{body}}} 
		</div>
		
		<!-- #endregion -->

		<!-- #region Footer -->

		<footer class="footer"> <!-- Footer -->
			<div class="footer-headings"> <!-- Footer headings -->
				<h2>Pages</h2>
				<h2>Projects</h2>
			</div>

			<div class="footer-content"> <!-- Content of footer -->
				<div class="footer-column"> <!-- Columns in footer -->
					<a href="/">Home</a>
					<a href="/projects">Projects</a>
					<a href="/contact">Contact</a>
				</div>

				<div class="footer-column"> <!-- Columns in footer -->
					<a href="#">Project1</a>
					<a href="#">Project2</a>
					<a href="#">Project3</a>
				</div>

				<div class="footer-column"> <!-- Columns in footer -->
					<a href="#">Project4</a>
					<a href="#">Project5</a>
					<a href="#">Project6</a>
				</div>
			</div>

			<div class="footnote"> <!-- Footer footnote -->
				<p>&copy Josh Haywood 2022</p>

				<button onclick="ScrollTop()">Back to top &#8593</button>
			</div>
		</footer>

		<!-- #endregion -->
	</body>
</html>