<div class="message-content"> <!-- Content section of message-sent page -->
    <h1>Thank you</h1>

    <h5>Your message has been sent succesfully. You will recieve a reply to the email you provided as soon as possible.</h5>

    <button><a href="/">Go back to home</a></button>
</div>
