<section class="projects-page">
    <h1>Projects</h1>

    <div class="container"> 
        <div> 
            <a href="/portfolio-project"><img alt="Image of portfolio project" src="../Images/portfolio-thumbnail.jpg"></a>
            
            <div class="container">
                <h5>Portfolio Website</h5>
                <p>The portfolio website you are currently viewing.</p>
                <a href="/portfolio-project">View Project &#8594</a>
            </div>
        </div>

        <div> 
            <a href="/arduino-project"><img alt="Image of arduino project" src="../Images/arduino-thumbnail.jpg"></a> 
            
            <div class="container">
                <h5>Arduino Unity Project</h5>
                <p>An arduino game I made in my first year of University.</p>
                <a href="/arduino-project">View Project &#8594</a>
            </div>
        </div>

        <div>
            <a href="/student-survival-store-project"><img alt="Image of student survival store project" src="../Images/student-survival-store-thumbnail.jpg"></a> 
            
            <div class="container">
                <h5>Student Survival Store</h5>
                <p>Software as a service group project from my second year of University.</p>
                <a href="/student-survival-store-project">View Project &#8594</a>
            </div>
        </div>

        <div> 
            <a href="/one-messaging-project"><img alt="Image of one messaging project" src="../Images/one-messaging-thumbnail.jpg"></a> 
            
            <div class="container">
                <h5>One Messaging</h5>
                <p>Realtime messaging project from my second year of University.</p>
                <a href="/one-messaging-project">View Project &#8594</a>
            </div>
        </div>

        <div> 
           <a href="/esports-center-project"><img alt="Image of esports center project" src="../Images/esports-center-thumbnail.jpg"></a> 
            
            <div class="container">
                <h5>The Esports Center</h5>
                <p>Statistics tracking group project from my second year of University.</p>
                <a href="/esports-center-project">View Project &#8594</a>
            </div>
        </div>

        <div> 
            <a href="#"><img alt="Image of project" src="../Images/arduino-thumbnail.jpg"></a> 
            
            <div class="container">
                <h5>To be added</h5>
                <p>To be added</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>
    </div>
</section>