<section class="projects-page"> <!-- Project section -->
    <h1 class="projects-page-heading"> <!-- Page heading -->
        Projects
    </h1>

    <div class="projects-page-content"> <!-- Projects main content -->
        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="/portfolio-project"><img class="projects-page-thumbnail" alt="Image of protfolio project" src="../Images/portfolio-thumbnail.jpg"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Portfolio Website</h1>
                <p>The portfolio website you are currently viewing.</p>
                <a href="/portfolio-project">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of arduino project" src="../Images/arduino-thumbnail.jpg"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Arduino Unity Project</h1>
                <p>An arduino game I made in my first year of University.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of student survival store project" src="../Images/student-survival-store-thumbnail.jpg"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Student Survival Store</h1>
                <p>Software as a service group project from my second year of University.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of one messaging project" src="../Images/one-messaging-thumbnail.jpg"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>One Messaging</h1>
                <p>Realtime messaging project from my second year of University.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of esports center project" src="../Images/arduino-thumbnail.jpg"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>The Esports Center</h1>
                <p>Statistics tracking group project from my second year of University.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of project" src="../Images/arduino-thumbnail.jpg"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>To be added</h1>
                <p>To be added</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>
    </div>
</section>