<section class="projects-page"> <!-- Project section -->
    <h1 class="projects-page-heading"> <!-- Page heading -->
        Projects
    </h1>

    <div class="projects-page-content"> <!-- Projects main content -->
        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of project" src="../images/stock.png"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Text</h1>
                <p>Text text text.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of project" src="../images/stock.png"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Text</h1>
                <p>Text text text.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of project" src="../images/stock.png"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Text</h1>
                <p>Text text text.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of project" src="../images/stock.png"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Text</h1>
                <p>Text text text.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of project" src="../images/stock.png"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Text</h1>
                <p>Text text text.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>

        <div class="projects-page-item"> <!-- Individual items in projects -->
            <div class="projects-page-image"> <!-- Thumbnails used in projects section -->
                <a href="#"><img class="projects-page-thumbnail" alt="Image of project" src="../images/stock.png"></a> <!-- Image tag for thumbnail -->
            </div>
            
            <div class="projects-page-text">
                <h1>Text</h1>
                <p>Text text text.</p>
                <a href="#">View Project &#8594</a>
            </div>
        </div>
    </div>
</section>