@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* Roboto font import */

:root { /* Project root */
  font-size: 16px; /* Fontsize specification */
  font-family: 'Roboto', sans-serif; /* Font family */
  --text-primary: white; /* Primary text colour */
  --text-secondary: #4c6bc1; /* Secondary text colour */
  --bg-primary: #101316; /* Primary background colour */
  --bg-secondary: #181a1d; /* Secondary background colour */
}

* {
  box-sizing: border-box; /* Incase browsers do not use border box */
}

body { /* Webpage body */
  background-color: var(--bg-primary);
  margin: 0; /* Margin removed */
  padding: 0; /* Padding removed */
}

body::-webkit-scrollbar { /* Scrollbar */
  width: 0.25rem; /* Width */
}

body::-webkit-scrollbar-track { /* Scrollbar background */
  background: #181a1d; /* Background colour */
}

body::-webkit-scrollbar-thumb { /* Scrollbar thumb */
  background: #4c6bc1; /* Background colour */
}

h1, a, p {
  color: var(--text-primary);
}

/*#region Navigation Bar*/

.navbar { /* Navbar class assigned in 'layout.hbs' */
  position: fixed; /* Elements space relatively towards navigation bar */
  width: 100%;
  padding: 1rem;
  display: flex; /* Creates flexbox */
  justify-content: space-between; /* Moves flex items to opposite ends of the container */
  align-items: center; /* Align child elements to center */
}

.navbar img { /* Image used in navbar */
  height: 60px; /* Image height */
  width: 260px; /* Image width */
}

.logo{ /* Logo image assigned in 'layout.hbs' */
  height: auto; /* To maintain aspect ratio */
  max-width: 100%; /* Sets max width to prevent image upscaling */
}

.navbar svg { /* SVG used in navigation bar */
  position: absolute; /* To ensure menu is always in the top right of the screen */
  top: 2.15rem; /* Position away from the top */
  right: 2rem; /* Position away from the right */
  height: 24px; /* SVG height */
  width: 24px; /* SVG width */
  color: white;
}

.theme-toggle { /* Theme toggle class assigned in 'layout.hbs' */
  max-width: 100%; /* Sets max width to prevent image upscaling */
  height: auto; /* To maintain aspect ratio */
}

.nav-toggle { /* The hamburger menu used in the navigation bar assigned in 'layout.hbs' */
  position: absolute; /* To ensure menu is always in the top right of the screen */
  top: 2.2rem; /* Position away from the top */
  right: 1rem; /* Position away from the right */
  display: none; /* Sets display to none by default */
  flex-direction: column; /* Sets flex direction to correct columns for the bars */
  justify-content: space-between; /* To ensure that the bars take up the maximum space available */
  height: 22px; /* Menu height */
  width: 22px; /* Menu width */
}

.nav-toggle:hover .bar {
  width: 28px;
}

.nav-toggle:hover { /* Hamdburger menu on mouse hover */
  cursor: pointer; /* Sets cursor type to pointer */
}

.nav-toggle .bar { /* Bars used in the hamburger menu */
  height: 3px; /* Bar height */
  width: 100%; /* Ensures bar width is always the maximum it can be */
  background-color: white; /* Background colour */
  border-radius: 10px; /* Round bar edges */
  transition: all 100ms ease-in-out;
  
}

.nav-toggle:hover .bar:nth-of-type(1){ /* First child element of bar */
  transition: all 100ms ease-in-out; /* Transition for 100ms with slow start and finish */
  transform: rotate(45deg); /* Rotates 45 degress to create one of the lines used in x */
  transform-origin: top left; /* Moves to top-left */
}
.nav-toggle:hover .bar:nth-of-type(2){ /* Second child element of bar */
  transition: all 100ms ease-in-out; /* Transition for 100ms with slow start and finish */
  transform-origin: center; /* Moves to center */
  width: 0; /* Width is removed to give the impression bar has disappeared */
}

.nav-toggle:hover .bar:nth-of-type(3){ /* Second child element of bar */
  transition: all 100ms ease-in-out; /* Transition for 100ms with slow start and finish */
  transform: rotate(-45deg); /* Rotates -45 degress to create the other line used in x */
  transform-origin: bottom left; /* Moves to bottom-left */
}

.navbar-links { /* Links used in the navbar */
  height: 100%; /* Ensures links are full height */
}

.nav-links ul { /* Navbar child elements */
  margin: 0 3.5rem; /* Removes margin Y, margin x used to space away from theme toggler */
  padding: 0; /* Removes padding */
  display: flex; /* Creates flexbox to align links in a row rather than column */
}

.nav-links li { /* Individual navbar element */
  list-style: none; /* Removes bullet points from list items */
}

.nav-links li a { /* Navbar element's anchor text */
  font-size: 1.5rem; /* Sets font size */
  text-decoration: none; /* Removes underline */
  color: white; /* Text colour */
  padding: 1rem; /* Padding between elements */
  display: block; /* Prevents content on its left or right unless forced */
}

.nav-links li a:hover { /* Navbar element's anchor text on hover */
  color: #4c6bc1; /* Text colour */
}

@media (max-width: 800px) {
  .navbar { /* Navbar class assigned in 'layout.hbs' */
    flex-direction: column; /* Alters flex direction to list items in a column */
    align-items: flex-start; /* Positions elements at start of flex */
  }

  .navbar svg { /* SVG used in navigation bar */
    right: 4rem; /* Position away from the right */
    color: white;
  }

  .nav-toggle { /* The hamburger menu used in the navigation bar assigned in 'layout.hbs' */
    display: flex; /* To show the menu when at this screen size */
  }

  .nav-links { /* Links used in the navbar */
    display: none; /* Hides links when at this screen size */
    width: 100%; /* Ensures element covers width of screen */
    padding-top: 0.3rem; /* Padding to move links away from top of navbar */
  }

  .nav-links ul { /* Navbar child elements */
    width: 100%; /* Ensures element covers width of screen */
    flex-direction: column; /* Alters flex direction of child elements in the nav bar */
  }

  .nav-links li { /* Individual navbar element */
    padding: 0.2rem 1rem; /* Padds elements so background hover works more effectively */
    text-align: center; /* Algins text in center of element */
    
  }

  .nav-links li a:hover { /* Navbar element's anchor text on hover */
    background-color: #2d3136; /* Background colour */
    border-radius: 10px; /* Smooths border edges */
    transition: all 0.5s ease-out; /* Transition for all elements for 0.5 seconds, slowing towards the end. */
  }

  .nav-links.active { /* When links are active */
    display: flex;  /* Display set to flex */
  }
}

/*#endregion*/

/*#region Hero */

.hero { /* Hero section */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/stock.png"); /* Stock image used with gradient to give a darker image colour */
  height: 80vh; /* Height is 80% of the viewport */
  background-position: center; /* Centers background image */
  background-repeat: no-repeat; /* Prevents image from repeating */
  background-size: cover; /* Covers entire space given */
  position: relative; /* Relative to other elements */
  z-index: -1; /* Prevents navbar from disappearing */
}

.hero-content { /* Content section of hero */
  position: relative; /* Relative to other elements */
  display: flex; /* Flex items into row */
  top: 50%; /* Spaces content to middle of Y axis */
  left: 50%; /* Spaces content to middle of X axis */
  width: 100%; /* Covers 80% of space */
  transform: translate(-50%, -50%);
}

.hero-text { /* Text section of hero */
  flex-direction: column; /* Flexes heading and text to column instead of row */
  margin: 1rem 8% 0 auto; /* Uses maximum of left margin, top to space to center of image, right to move text away from image */
}

.hero-text h1 { /* H1 of text section */
  font-size: 3rem; /* Increased size of font */
}

.hero-text p { /* P of text section */
  font-size: 2rem; /* Increased size of font */
}

.hero-image { /* Non background image used in hero */
  margin-right: auto; /* Uses maximum space of right margin */
}

/*#endregion*/