@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* Roboto font import */

:root { /* Project root */
  font-size: 16px; /* Fontsize specification */
  font-family: 'Roboto', sans-serif; /* Font family */
  --text-primary: white; /* Primary text colour */
  --text-secondary: #4c6bc1; /* Secondary text colour */
  --bg-primary: #101316; /* Primary background colour */
  --bg-secondary: #181a1d; /* Secondary background colour */
}

* {
  box-sizing: border-box; /* Incase browsers do not use border box */
}

body { /* Webpage body */
  background-color: var(--bg-primary);
  margin: 0; /* Margin */
  padding: 0; /* Padding */
}

body::-webkit-scrollbar { /* Scrollbar */
  width: 0.25rem; /* Width */
}

body::-webkit-scrollbar-track { /* Scrollbar background */
  background: #181a1d; /* Background colour */
}

body::-webkit-scrollbar-thumb { /* Scrollbar thumb */
  background: #4c6bc1; /* Background colour */
}

main { /* Main content of body */
  color: var(--text-primary);
}

/*#region Navigation Bar*/

.navbar { /* Navbar class assigned in 'layout.hbs' */
  position: relative; /* Elements space relatively towards navigation bar */
  padding: 1rem;
  background-color: var(--bg-secondary); /* Sets background colour as bg primary varibale */
  display: flex; /* Creates flexbox */
  justify-content: space-between; /* Moves flex items to opposite ends of the container */
  align-items: center; /* Align child elements to center */
}

.navbar img { /* Image used in navbar */
  height: 60px; /* Image height */
  width: 260px; /* Image width */
}

.logo{ /* Logo image assigned in 'layout.hbs' */
  height: auto; /* To maintain aspect ratio */
  max-width: 100%; /* Sets max width to prevent image upscaling */
}

.navbar svg { /* SVG used in navigation bar */
  position: absolute; /* To ensure menu is always in the top right of the screen */
  top: 2.3rem; /* Position away from the top */
  right: 2rem; /* Position away from the right */
  height: 24px; /* Svg height */
  width: 24px; /* Svg width */
  color: white;
}

.theme-toggle { /* Theme toggle class assigned in 'layout.hbs' */
  max-width: 100%; /* Sets max width to prevent image upscaling */
  height: auto; /* To maintain aspect ratio */
}

.nav-toggle { /* The hamburger menu used in the navigation bar assigned in 'layout.hbs' */
  position: absolute; /* To ensure menu is always in the top right of the screen */
  top: 2.3rem; /* Position away from the top */
  right: 1rem; /* Position away from the right */
  display: none; /* Sets display to none by default */
  flex-direction: column; /* Sets flex direction to correct columns for the bars */
  justify-content: space-between; /* To ensure that the bars take up the maximum space available */
  height: 22px; /* Menu height */
  width: 22px; /* Menu width */
}

.nav-toggle:hover { /* Hamdburger menu on mouse hover */
  cursor: pointer; /* Sets cursor type to pointer */
}

.nav-toggle .bar { /* Bars used in the hamburger menu */
  height: 3px; /* Bar height */
  width: 100%; /* Ensures bar width is always the maximum it can be */
  background-color: white; /* Background colour */
  border-radius: 10px; /* Round bar edges */
}

.navbar-links { /* Links used in the navbar */
  height: 100%;
}

.nav-links ul { /* Navbar child elements */
  margin: 0 3.5rem; /* Removes margin Y, margin x used to space away from theme toggler */
  padding: 0; /* Removes padding */
  display: flex; /* Creates flexbox to align links in a row rather than column */
}

.nav-links li { /* Individual navbar element */
  list-style: none; /* Removes bullet points from list items */
}

.nav-links li a { /* Navbar element's anchor text */
  font-size: 1.5rem; /* Sets font size */
  text-decoration: none; /* Removes underline */
  color: white; /* Text colour */
  padding: 1rem; /* Padding between elements */
  display: block; /* Prevents content on its left or right unless forced */
}

.nav-links li a:hover { /* Navbar element's anchor text on hover */
  color: #4c6bc1; /* Text colour */
}

@media (max-width: 800px) {
  .navbar { /* Navbar class assigned in 'layout.hbs' */
    flex-direction: column; /* Alters flex direction to list items in a column */
    align-items: flex-start; /* Positions elements at start of flex */
  }

  .navbar svg { /* SVG used in navigation bar */
    right: 4rem; /* Position away from the right */
    color: white;
  }

  .nav-toggle { /* The hamburger menu used in the navigation bar assigned in 'layout.hbs' */
    display: flex; /* To show the menu when at this screen size */
  }

  .nav-links { /* Links used in the navbar */
    display: none; /* Hides links when at this screen size */
    width: 100%;
    padding-top: 0.3rem; /* Padding to move links away from top of navbar */
  }

  .nav-links ul { /* Navbar child elements */
    width: 100%; /* Ensures element covers width of screen */
    flex-direction: column; /* Alters flex direction of child elements in the nav bar */
  }

  .nav-links li { /* Individual navbar element */
    padding: 0.2rem 1rem; /* Padds elements so background hover works more effectively */
    text-align: center; /* Algins text in center of element */
    
  }

  .nav-links li a:hover { /* Navbar element's anchor text on hover */
    background-color: #2d3136; /* Background colour */
    border-radius: 10px; /* Smooths border edges */
    transition: all 0.5s ease-out; /* Transition for all elements for 0.5 seconds, slowing towards the end. */
  }

  .nav-links.active { /* When links are active */
    display: flex;  /* Display set to flex */
  }
}


/*#endregion*/