@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* Roboto font import */

html {
  scroll-behavior: smooth;
}

:root { /* Project root */
  font-size: 16px; /* Fontsize specification */
  font-family: 'Roboto', sans-serif;
  --text-primary: #ffffff; /* Primary text colour */
  --text-secondary: #4c6bc1; /* Secondary text colour */
  --bg-primary: #101316; /* Primary background colour */
  --bg-secondary: #181a1d; /* Secondary background colour */
}

* {
  box-sizing: border-box; /* Incase browsers do not use border box */
}

body { /* Webpage body */
  background-color: var(--bg-primary);
  margin: 0; /* Margin removed */
  padding: 0; /* Padding removed */
  overflow-x: hidden;
  max-width: 100%;
}

body::-webkit-scrollbar { /* Scrollbar */
  width: 0.25rem;
}

body::-webkit-scrollbar-track { /* Scrollbar background */
  background: #181a1d;
}

body::-webkit-scrollbar-thumb { /* Scrollbar thumb */
  background: #4c6bc1;
}

h1, h2, h3, h4, h5, h6, a, p {
  color: var(--text-primary);
}

/* #region Header */

.navbar { /* Navbar*/
  position: fixed; /* So navbar is superimposed over the rest of the page content */
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 1; /* Prevents navbar from disappearing */
  transition: all 300ms ease-in-out; /* Transition for 300ms with slow start and finish */
}

.navbar img {
  height: 60px;
  width: 260px;
}

.logo{ /* Logo used in navbar*/
  height: auto; /* To maintain aspect ratio */
  max-width: 100%; /* Sets max width to prevent image upscaling */
}

.nav-toggle { /* Navbar hamburger menu */
  position: absolute; /* To ensure menu is always in the top right of the screen */
  top: 2rem;
  right: 1rem;
  display: none; /* Sets display to none by default for javascript function */
  flex-direction: column; /* Sets flex direction to prevent bars from aligning to row */
  justify-content: space-between; /* To ensure even distance between bars */
  height: 22px;
  width: 22px;
}

.nav-toggle:hover .bar {
  width: 28px; 
}

.nav-toggle:hover {
  cursor: pointer; /* Sets cursor type to pointer */
}

.nav-toggle .bar { 
  height: 3px; 
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 100ms ease-in-out; /* Transition for all elements for 0.1 seconds, slowing at the beginning and end. */
}

.nav-toggle:hover .bar:nth-of-type(1){ /* First child element of bar */
  transition: all 100ms ease-in-out; /* Transition for 100ms with slow start and finish */
  transform: rotate(45deg); /* Rotates 45 degress to create one of the lines used in x */
  transform-origin: top left; /* Moves to top-left */
}
.nav-toggle:hover .bar:nth-of-type(2){ /* Second child element of bar */
  transition: all 100ms ease-in-out; /* Transition for 100ms with slow start and finish */
  transform-origin: center; /* Moves to center */
  width: 0; /* Width is removed to give the impression bar has disappeared */
}

.nav-toggle:hover .bar:nth-of-type(3){ /* Second child element of bar */
  transition: all 100ms ease-in-out; /* Transition for 100ms with slow start and finish */
  transform: rotate(-45deg); /* Rotates -45 degress to create the other line used in x */
  transform-origin: bottom left; /* Moves to bottom-left */
}

.nav-links ul {
  display: flex; /* Creates flexbox to align links in a row rather than column */
  margin: auto; /* To align links to image */
}

.nav-links li {
  list-style: none; /* Removes bullet points from list items */
}

.nav-links li a {
  font-size: 1.5rem;
  text-decoration: none; /* Removes underline */
  color: #ffffff;
  padding: 1rem;
  display: block; /* Centers links */
}

.nav-links li a:hover { 
  color: #4c6bc1;
  transition: all 0.5s ease-out; /* Transition for all elements for 0.5 seconds, slowing towards the end. */
}

@media (max-width: 800px) {
  .navbar { /* Navbar */
    flex-direction: column; /* Alters flex direction to list items in a column */
  }
  
  .nav-toggle { /* Navbar hamburger menu */
    display: flex; /* To show the menu when at this screen size */
  }

  .nav-links {
    display: none; /* Hides links when at this screen size */
    padding-top: 0.3rem;
  }

  .nav-links ul {
    width: 100%; /* Ensures elements are centered */
    flex-direction: column; /* Alters flex direction of child elements in the nav bar */
  }

  .nav-links li { /* Individual navbar element */
    padding: 0.2rem 1rem; /* Padds elements so background hover works more effectively */
    text-align: center; /* Aligns text in center of element */
    margin-right: 2rem; /* Offset text to align to center */
  }

  .nav-links li a:hover { 
    background-color: #2d3136;
    border-radius: 10px; 
    transition: all 0.5s ease-out; /* Transition for all elements for 0.5 seconds, slowing towards the end. */
  }
}

@media (max-width: 700px) { 
  .navbar img { 
    height: 50px;
    width: 220px;
  }
}

@media (max-width: 400px) { 
  .navbar img { 
    height: 40px;
    width: 180px;
  }

  .nav-toggle {
    top: 1.6rem;
  }
}

/* #endregion */

/* #region Footer */

  .footer { /* Footer */
    left: 0px;
    bottom: 0px; /* To position footer at the bottom of the page */
    width: 100%;
    background-color: #181a1d;
  }

  .footer .container { /* Content of footer */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 3rem;
    width: 70%;
    font-size: 2vh;
  }

  .footer-column { /* Columns used in footer */
    display: flex;
    flex-direction: column; /* Creates columns rather than rows */
    justify-content: flex-end;
  }

  .footer-column h2 {
    margin-top: 3rem;
    color: #9e9e9e;
  }


  .footer-column a {
    text-decoration: none; /* Removes underline */
    color: #9e9e9e;
    margin: 5px 0;
  }

  .footer-column a:hover {
    color: #ffffff;
  }

  .footnote { /* Footer footnote */
    display: flex;
    color: #ffffff;
    padding: 1px 0;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    border-top: 1px solid #4c6bc1;
  }

  .footer button {
    background-color: Transparent;
    border: none;
    color: #9e9e9e;
    font-size: 1rem;
  }

  .footer button:hover {
    color: #ffffff;
  }


  @media (max-width: 700px) {
    .footer-content {
      width: 80%;
    }

    .footer-column h2 {
      font-size: 2vh;
    }

    .footer-column a {
      font-size: 1rem;
    }

    .footnote {
      width: 80%;
    }

    .footnote p {
      font-size: 1rem;
    }

    .footnote button {
      font-size: 1rem;
    }
  }

  @media (max-width: 400px) {
    .footer-content {
      width: 90%;
    }

    .footer-column h2 {
      font-size: 1rem;
    }

    .footer-column a {
      font-size: 0.8rem;
    }
    
    .footnote {
      width: 90%;
    }

    .footnote p {
      font-size: 0.8rem;
    }

    .footnote button {
      font-size: 0.8rem;
    }
  }
  
/* #endregion */

/* #region Error */

.error-content { /* Content area of error page */
  text-align: center;
  margin-left: 1rem; /* Moves text away from edge of page */
  padding: 8rem 0; /* To space text away from the header */
  font-size: 1.5rem;
}

.error-content h1 {
  font-size: 5rem;
}

.error-content button {
  width: 15%;
  padding: 1rem; /* Button away from text */
  margin: 2rem 0;
  font-size: 1.2rem;
  background-color: #4c6bc1;
  border: none;
}

.error-content button:hover {
  background-color: #597de0;
}

.error-content a {
  text-decoration: none; /* Removes anchor text underline */
  color: #101316;
}

@media (max-width: 1200px) {
  .error-content h1 {
    font-size: 4rem;
  }

  .error-content h5 {
    font-size: 1rem;
  }

  .error-content button {
    width: 15%; /* Width increased so text is one line */
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .error-content h1 {
    font-size: 3rem;
  }

  .error-content h5 {
    font-size: 0.8rem;
  }

  .error-content button {
    width: 20%; /* Width increased so text is one line */
    font-size: 0.6rem;
    padding: 0.5rem; /* Button away from text */
  }
}

@media (max-width: 600px) {
  .error-content h1 {
    font-size: 2.2rem;
  }

  .error-content h5 {
    font-size: 0.6rem;
  }

  .error-content button {
    width: 25%; /* Width increased so text is one line */
  }
}

@media (max-width: 400px) {
  .error-content h1 {
    font-size: 1.8rem;
  }

  .error-content h5 {
    font-size: 0.5rem;
  }

  .error-content button {
    width: 30%; /* Width increased so text is one line */
  }
}

/* #endregion */

/* #region Index */

/* #region Hero */

.hero { /* Hero section */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/background.png"); /* Gradient to give a darker image colour */
  height: 100vh; /* Hero is full screen size on page load */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.hero-content { /* Content area of hero */
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
  height: 100vh; /* Set to the same height as the background image */
}

.hero-text { /* Text section of hero */
  flex-direction: column; /* Flexes heading and text to column instead of row */
}

.hero-text h1 { 
  font-size: 9vh;
  font-weight: 900;
  margin: 2rem 0;
}

.hero-text p { 
  font-size: 3vh; 
  width: 99%;
}

.hero-text svg { 
  height: 24px;
  width: 24px;
  margin: 1rem; 
  color: #ffffff; 
  margin-left: 0; /* No margin on left so svgs are inline with text */
}

.hero-text svg:hover { 
  color: #9e9e9e; 
  transition: all 0.5s ease-out; /* Transition for all elements for 0.5 seconds, slowing towards the end. */
}

.hero-text h1, .hero-text p, .github-icon, .envelope-icon { /* All items in hero section, listed individually as the parent element wouldnt apply the effect */
  animation: fadeInUp 3s; /* Text fades and moves up */
}

@keyframes fadeInUp { /* Fade in and up animation */
  0% { 
     opacity: 0; 
     transform:translate3d(0, 100%, 0); /* Translates elements up Y vector */
  }
  
  100% { 
     opacity: 1; 
     transform: none;
  }
}

.github-icon .envelope-icon {
  height: auto; /* To maintain aspect ratio */
  max-width: 100%; /* Sets max width to prevent image upscaling */
}

.hero-image { /* Image used in hero */
  animation: fadeInUp 3s; /* Text fades and moves up */
}

.portrait { /* Portrait image used in hero */
  height: auto; /* To maintain aspect ratio */
  max-width: 100%; /* Sets max width to prevent image upscaling */
  box-shadow: 50px 30px #373b42;
  border: 5px groove white;
  border-radius: 50%;
  width: 450px;
}

@media (max-width: 1700px) { 
  .hero-text h1 { 
    font-size: 8vh; 
  }

  .hero-text p { 
    width: 90%;
  }

  .portrait { /* Portrait image used in hero */
    width: 400px;
  }
}

@media (max-width: 1500px) { 
  .hero-text { /* Text section of hero */
    width: 50%;
  }

  .hero-text h1 { 
    font-size: 7vh; 
  }

  .hero-text p { 
    font-size: 2rem; /* Rem was used as the desired size couldnt be achieved with VH */
    width: 100%; /* Stops text from bunching */
  }

  .portrait { /* Portrait image used in hero */
    width: 350px;
  }
}

@media (max-width: 1200px) { 
  .hero-text { /* Text section of hero */
    width: 60%;
  }

  .hero-text h1 { 
    font-size: 6vh; 
  }

  .hero-text p {
    font-size: 1.5rem; 
    width: 90%; /* Stops text from bunching */
  }

  .portrait { /* Portrait image used in hero */
    width: 300px;
  }
}

@media (max-width: 1000px) { 
  .hero-text { /* Text section of hero */
    padding-left: 1rem; /* Prevents text reaching page edge */
  }

  .hero-text h1 { 
    font-size: 5vh; 
  }

  .hero-text p {
    font-size: 1.3rem; 
  }
  
  .portrait { /* Portrait image used in hero */
    width: 250px;
  }
}

@media (max-width: 800px) {
  .hero-content { /* Content section of hero */
    flex-direction: column; /* Changes flex direction to column */
    justify-content: center; /* Centers content vertically */
    margin: auto; /* Centers content horizontally */
  }

  .hero-text { /* Text section of hero */
    order: 2; /* Re orders flex box to make text appear below image */
    height: 30%; /* Aligns content vertically */
    width: 90%;
  }

  .hero-text h1 { 
    font-size: 6vh; 
  }

  .hero-image { /* Image used in hero */
    order: 1; /* Orders image above text */
    margin: 2rem 0;
  }

  .portrait { /* Portrait image used in hero */
    width: 300px;
  }
}

@media (max-width: 500px) {
  .hero-text h1 { /* H1 of text section */
    font-size: 5vh;
  }
}

@media (max-width: 400px) {
  .hero-text { /* Text section of hero */
    width: 80%;
  }

  .portrait { /* Portrait image used in hero */
    box-shadow: none;
  }
}

/* #endregion */

/* #region About */

.about-text { /* Text section of about */
  display: flex;
  list-style: none; /* Removes bullet points from list */
  margin: auto; /* To space content in center */
  width: 80%;
  margin-top: 10rem;
  
}

.about-item { /* Columns used in about section */
  width: 33%; /* Sets width to a third of the screen in order to create 3 columns */
  margin: 0 1rem;
}

.about-text h1 { 
  font-size: 4vh; 
  text-align: center; 
  text-decoration: underline #4c6bc1;
}

.about-text p { 
  font-size: 2vh; 
  white-space: pre-line; /* Seperates text at a full stop */
  margin: 3rem 0; 
}

@media (max-width: 1000px) { 
  .about-text h1 {
    font-size: 3vh;
  }
}

@media (max-width: 800px) { 
  .about-text {
    flex-direction: column; 
    text-align: center;
    align-items: center;
    margin-top: 5rem;
  }

  .about-item { /* Individual list items used in about text section */
    width: 100%; /* Creates 3 rows instead of columns */
  }
}

@media (max-width: 400px) { 
  .about-text {
    margin-top: 3rem;
  }
}

/* #endregion */

/* #region Projects */

.projects { /* Projects section */
  margin-top: 11rem; 
  padding-bottom: 5rem;
  padding-top: 2rem;
  background: #15171a; 
}

.projects h1 { 
  text-align: center; 
  padding-top: 4rem;
  font-size: 4vh; 
  text-decoration: underline #4c6bc1; 
}

.projects-content { /* Content of the project section */
  display: flex; 
  justify-content: space-evenly;
}

.projects-content h1 { 
  text-align: left;
  font-size: 2vh;
}

.projects-item { /* Items used in the projects list */
  margin: 5rem 0;
}

.projects-item a { 
  text-decoration: none; /* Removes underline */
  color: #4c6bc1;
}

.projects-item a:hover { 
  color: #597de0;
}

.projects-item h1 {
  margin-top: 1rem;
}

.projects-image { /* Thumbnails used in project section */
  width: 900px; 
  margin: auto;
}

.projects-image:hover { 
  animation: popOut 1s; /* Triggers animation for 1 second */
  animation-fill-mode: forwards; /* Prevents animation from restarting */
}

@keyframes popOut { /* Fade in animation */  
  100% {
    transform: scale(1.03); /* Increases scale slightly */
  }
}

.projects-thumbnail { /* Image tag used for thumbnails */
  height: auto; /* To maintain aspect ratio */
  max-width: 100%; /* Sets max width to prevent image upscaling */
}

@media (max-width: 1920px) {
  .projects-image {
    width: 800px;
  }
}

@media (max-width: 1800px) {
  .projects-image {
    width: 700px;
  }
}

@media (max-width: 1600px) {
  .projects-image {
    width: 600px;
  }
}

@media (max-width: 1400px) {
  .projects-image {
    width: 550px;
  }
}

@media (max-width: 1200px) {
  .projects-image {
    width: 450px;
  }
}

@media (max-width: 1000px) {
  .projects-content { /* Content of the project section */
    flex-direction: column; /* Changes flex direction to column from row */
  }

  .projects-item { /* Items used in the projects list */ 
    display: block;
    margin: 3rem auto; /* Vertical margin applied to counteract the effects of flex change */
  }

  .projects-image {
    width: 700px; /* Resize images as flex direction has changed */
  }


}

@media (max-width: 800px) {
  .projects {
    margin-top: 6rem;
    padding-top: 0;
  }

  .projects-content { /* Content of the project section */
    width: 100%;
  }

  .projects-image {
    width: 550px;
  }

  .projects-item h1 {
    margin-top: 0;
    padding-top: 2rem;
  }
}

@media (max-width: 600px) {
  .projects-image {
    width: 450px;
  }
}

@media (max-width: 500px) { 
  .projects-image { /* Thumbnails used in project section */
    width: 400px;
  }
}

@media (max-width: 400px) { 
  .projects {
    margin-top: 4rem;
  }

  .projects-item h1, .projects p, .projects a {
    width: 95%;
  }

  .projects-image { /* Thumbnails used in project section */
    width: 350px;
  }
}

/* #endregion */

/* #region Contact */ 

.contact h1 { 
  text-align: center; 
  padding: 2rem 0; 
  font-size: 4vh; 
  text-decoration: underline #4c6bc1;
  margin-top: 8rem;
}

.contact-form { /* Form uses in contact section */
  display: flex;
  margin: auto;
  width: 50%; 
  margin-bottom: 25rem; /* Space footer away from contact form */
}

.contact-form input, .contact-form textarea { /* Input and textareas used in contact form */
  font-family: 'Roboto', sans-serif;
  font-size: 3vh; 
  width: 100%;
  margin: 2rem 0; 
  border-radius: 5px;
  padding: 5px;
  background-color: #181a1d; /* Prevents other instances overiding colour */
  border: none;
  border-bottom: 1px solid #4c6bc1;
} 

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #ffffff;
}

.contact-form textarea { /* Text area in form */
  height: 70%;
  display: flex;
  margin: 2rem auto;
}

.contact-form button { /* Button used in contact form */
  margin: auto; /* Overrides margin auto */
  display: block; /* Changes display from flex to align to center */
  width: 50%;
  margin: 3rem auto;
  padding: 1rem; 
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #181a1d;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #4c6bc1;
}

@media (max-width: 1200px) {
  .contact-form {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .contact-form {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .contact h1 {
    margin-top: 3rem;
  }
  
  .contact-form {
    width: 80%;
    margin-bottom: 15rem;
  }

  .contact-form input { /* Input and textareas used in contact form */
    font-size: 2vh;
    margin: 1rem 0; 
  }

  .contact-form textarea { /* Text area in form */
    font-size: 2vh;
    height: 60%;
    margin: 1rem 0; 
  }

  .contact-form button {
    margin: 2rem auto;
    font-size: 2vh;
    padding: 0.5rem;
    width: 40%;
  }
}

@media (max-width: 400px) {
  .contact-form {
    width: 85%;
    margin-bottom: 10rem;
  }

  .contact-form input { /* Input and textareas used in contact form */
    font-size: 1vh;
  }

  .contact-form textarea { /* Text area in form */
    font-size: 1vh;
    height: 50%;
  }

  .contact-form button {
    width: 60%;
    font-size: 0.8rem;
    padding: 5px;
  }
}

/* #endregion */

/* #endregion */

/* #region Message-sent */

.message-content { /* Content area of message-sent page */
  text-align: center;
  margin-left: 1rem; /* Moves text away from edge of page */
  padding: 8rem 0; /* To space text away from the header */
  font-size: 1.5rem;
}

.message-content h1 {
  font-size: 5rem;
}

.message-content button {
  width: 15%;
  padding: 1rem; /* Button away from text */
  margin: 2rem 0;
  font-size: 1.2rem;
  background-color: #4c6bc1;
  border: none;
}

.message-content button:hover {
  background-color: #597de0;
}

.message-content a {
  text-decoration: none; /* Removes anchor text underline */
  color: #101316;
}

@media (max-width: 1200px) {
  .message-content h1 {
    font-size: 4rem;
  }

  .message-content h5 {
    font-size: 1rem;
  }

  .message-content button {
    width: 15%; /* Width increased so text is one line */
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .message-content h1 {
    font-size: 3rem;
  }

  .message-content h5 {
    font-size: 0.8rem;
  }

  .message-content button {
    width: 20%; /* Width increased so text is one line */
    font-size: 0.6rem;
    padding: 0.5rem; /* Button away from text */
  }
}

@media (max-width: 600px) {
  .message-content h1 {
    font-size: 2.2rem;
  }

  .message-content h5 {
    font-size: 0.6rem;
  }

  .message-content button {
    width: 25%; /* Width increased so text is one line */
  }
}

@media (max-width: 400px) {
  .message-content h1 {
    font-size: 1.8rem;
  }

  .message-content h5 {
    font-size: 0.5rem;
  }

  .message-content button {
    width: 30%; /* Width increased so text is one line */
  }
}

/* #endregion */

/* #region Projects page */

.projects-page {
  margin-bottom: 5rem; /* Space footer away from content */
}

.projects-page-heading { /* Heading of projects page */
  text-align: center;
  padding: 8rem 0; /* To space text away from the header */
  font-size: 8vh;
  margin: auto; /* Prevents heading conflicting with header and footer */
  text-decoration: underline #4c6bc1;
}

.projects-page-content { /* Content section of project page */
  display: flex;
  flex-wrap: wrap; /* Handles content overflow */
  margin-bottom: 3rem;
  overflow-x: hidden; /* Prevents scrollbar appearing when thumbnails are hovered */
}

.projects-page-item { /* Individual item in project page */
  width: 33%;
  margin: 5rem auto;
}

.projects-page-image {
  height: auto; /* To maintain aspect ratio */
  max-width: 100%; /* Sets max width to prevent image upscaling */
}

.projects-page-image:hover { 
  animation: popOut 1s; /* Triggers animation for 1 second */
  animation-fill-mode: forwards; /* Prevents animation from restarting */
}

@keyframes popOut { /* Fade in animation */  
  100% {
    transform: scale(1.03); /* Increases scale slightly */
  }
}

.projects-page-thumbnail { /* Image tag used for thumbnails */
  width: 600px;
  display: flex;
  margin: auto;
}

.projects-page-text {
  width: 55%; /* Width altered to align text with image */
  margin: 0 1rem;
}

.projects-page-item a { 
  text-decoration: none; /* Removes underline */
  color: #4c6bc1;
}

.projects-page-item a:hover { 
  color: #597de0;
}

@media(max-width: 2100px) {
  .projects-page-text {
    width: 66%; /* Width increased to maintain alignment with image */
  }
}

@media(max-width: 1700px) {
  .projects-page-text {
    width: 81%; /* Width increased to maintain alignment with image */
  }
}

@media(max-width: 1500px) {
  .projects-page-text {
    width: 62%; /* Width decreased to match less columns */
  }

  .projects-page-item { /* Individual item in project page */
    width: 50%; /* Downsizes to two columns */
  }
}

@media(max-width: 1300px) {
  .projects-page-text {
    width: 71%; /* Width increased to maintain alignment with image */
  }
}

@media(max-width: 1000px) {
  .projects-page-item { /* Individual item in project page */
    width: 100%; /* Downsizes to single column */
    margin: 3rem auto;
  }

  .projects-page-text {
    text-align: center;
  }
}

@media(max-width: 600px) {
  .projects-page-heading { /* Heading of projects page */
    font-size: 7vh;
  }

  .projects-page-content { /* Content section of project page */
    width: 90%;
    margin: auto;
  }
}

@media(max-width: 500px) {
  .projects-page-heading { /* Heading of projects page */
    padding: 6rem 0;
    padding-top: 10rem; /* Increased top padding to maintain vertical centering with header and items */
    font-size: 6vh;
  }

  .projects-page-content { /* Content section of project page */
    margin-bottom: 1rem;
    width: 80%;
  }
}
/* #endregion */

/* #region Contact page */

.contact-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/contact-background.jpg"); /* Gradient to give a darker image colour */
  text-align: center;
  padding: 8rem 0; /* To space text away from the header */
  font-size: 1.5rem;
  width: 100%;
}

.contact-page h1 {
  font-size: 4rem;
  text-decoration: underline #4c6bc1;
  margin-bottom: 8rem;
}

@media(max-width: 700px) {
  .contact-page h1 {
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }
}

@media(max-width: 600px) {
  .contact-page h1 {
    margin-bottom: 7rem;
  }
}

/* #endregion */