@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100vw;
  background-color: #191b29;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px 15px rgba(255, 255, 255, 0.3);
  border: solid 3px transparent;
  border-radius: 10px;
}

/* Custom CSS */
#hero-Llnk, #project a {
  background-position: 0 calc(100% - 0px)
}

#hero-link:hover, #project:hover a {
  background-size: 100% 1px;
}

#project-card:hover h4 {
  color: #f2584c;
}

#back-to-top:hover span, #back-to-top:hover g {
  text-decoration: underline;
}